# Dependencias
node_modules/

# Build
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/*.db

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Otros
*.tsbuildinfo
coverage/
.turbo/